.Bug{
  background-color: lightgray;
  height: 100px;
  text-align: center;
}

#fname{
  width: 45%;
  padding: 7px;
  margin-right: 10px;
}

#lname{
  width: 44%;
  padding: 7px;
}

.last{
  margin-left: 42%;
}

#add{
  width: 91.5%;
  padding: 7px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
