img{
  width: 25%;
  margin: 0 43% 1px 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.Contact {
  display: flex;
  float: left;
}

.Contact h1{
  margin: auto;
  justify-content: center;
}

.Middle{
  text-align: center;
  font-size: 20px;
}


#fname{
  width: 45%;
  padding: 7px;
  margin-right: 10px;
}

#lname{
  width: 44%;
  padding: 7px;
}

.last{
  margin-left: 41%;
}

#add1{
   width: 90%;
   padding: 7px;
}

#add2{
   width: 90%;
   padding: 7px;
}

#add3{
   width: 90%;
   padding: 7px;
}
